<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SpringSpree'15 | IDOL VOTING</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        SpringSpree'15 - IDOL VOTING PORTAL
      </a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="jumbotron">
    <h1>Welcome to Idol Voting Platform</h1>
    <h3>To vote for your favorite participant, you need to sign in using Facebook!</h3>
    <a class="button" href="{% url 'social:begin' 'facebook' %}">Facebook Login</a>
</div>
    </div>
</body>
</html>